<div class="row top-buffer">
  <div class="col-xl-12">
    <h2>Axcient Candidate Application</h2>
    <p>The purpose of this application is to display organizations with users and their documents. Use the {{link-to "Organizations" "organizations.index"}} page as a reference.</p>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    {{#bs-accordion selected="1" as |acc|}}
      {{#acc.item value="1" title="First challenge - Update the 'users.edit' page"}}
        <ol>
          <li>
            Request the user from the API [<a href="https://guides.emberjs.com/release/models/finding-records/#toc_retrieving-a-single-record" target="_blank" rel="noopener">guide</a>]<br>
            <ul>
              <li>The model hook of the route needs to fetch the data for the page</li>
            </ul>
          </li>
          <li>
            Display the user's basic information<br>
            <ul>
              <li>"First Name" input should display the user's first name</li>
              <li>"Last Name" input should display the user's last name</li>
              <li>"Email Address" input should display the user's email address</li>
              <li>"Save" button should be the primary button for the form</li>
              <li>"Cancel" button should be a normal button</li>
            </ul>
          </li>
        </ol>
      {{/acc.item}}
      {{#acc.item value="2" title="Second challenge - Add 'cancel' and 'save' actions to the 'users.edit' page"}}
        <ol>
          <li>
            Cancel button<br>
            <ul>
              <li>Button should exist and not be the primary button</li>
              <li>When the button is clicked, it should call the 'cancel' action and revert the changes to the model</li>
            </ul>
          </li>
          <li>
            Save Button<br>
            <ul>
              <li>Button should exist and be the primary button</li>
              <li>When the button is clicked, it should call the 'saveUser' action and save the user model</li>
            </ul>
          </li>
        </ol>
      {{/acc.item}}
      {{#acc.item value="3" title="Third challenge - Finish the 'users.edit' page"}}
        <ol>
          <li>
            If the user has documents<br>
            <ul>
              <li>Each document should be listed</li>
              <li>The document name should link to the "users.documents.edit" route</li>
              <li>Below the last document, a link labeled "Create a Document" should be displayed which links to the "users.documents.new" page</li>
            </ul>
          </li>
          <li>
            If the user has no documents<br>
            <ul>
              <li>A link labeled "Create a Document" should be displayed which links to the "users.documents.new" page</li>
            </ul>
          </li>
        </ol>
      {{/acc.item}}
      {{#acc.item value="4" title="Fourth challenge - Update the 'users.documents.new' page"}}
        <ol>
          <li>
            Display document fields<br>
            <ul>
              <li>"Name" input should exist</li>
              <li>"Contents" input should exist</li>
              <li>"Save" button should exist and is the primary button for the form</li>
              <li>"Cancel" button should exist and reset the model</li>
            </ul>
          </li>
        </ol>
      {{/acc.item}}
      {{#acc.item value="5" title="Bonus challenges"}}
        <ul>
          <li>Update the "cancelEdit" action in the 'organizations.edit' controller</li>
          <li>Update the "saveOrganization" action in the 'organizations.edit' controller</li>
          <li>Add the ability to delete a user</li>
          <li>Add the ability to update an existing document</li>
          <li>Add the ability to delete a document</li>
          <li>Fix the "Organizations" navigation link to be "active" when viewing a specific organization</li>
        </ul>
      {{/acc.item}}
    {{/bs-accordion}}
  </div>
</div>

<div class="row top-buffer">
  <div class="col-xl-6">
    <h4>Ember Resources</h4>
    <ul>
      <li><a href="https://guides.emberjs.com/release/" target="_blank" rel="noopener">Ember Guides</a></li>
      <li><a href="https://api.emberjs.com/ember/release" target="_blank" rel="noopener">Ember API Reference</a></li>
    </ul>
  </div>
  <div class="col-xl-6">
    <h4>Bootstrap Resources</h4>
    <ul>
      <li><a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" target="_blank" rel="noopener">Bootstrap Documentation</a></li>
      <li><a href="https://www.ember-bootstrap.com/#/components" target="_blank" rel="noopener">Ember Bootstrap Documentation</a></li>
    </ul>
  </div>
</div>
